<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hearthstone</title>
    <link rel="stylesheet" href="./res/css/styleGame.css">
</head>
<body>

    <div id="opponent">
        <div id="name">
            <p>#PLAYER_2_NAME#</p>
        </div>
        <div id="cards">
            
        </div>
        <div id="health">
            <p>Health: <span>#PLAYER_2_HEALTH#</span></p>
        </div>
        <div id="field">
            
        </div>
    </div>


    
    <div id="timer">
        <p>
            <span class="move"><span class="current">YOUR MOVE!</span> | </span>
            <span class="timer">TIME: <span id="timer"></span></span>
            |
            <span class="mana">MANA: <span id="mana"></span></span>
        </p>
    </div>



    <div id="player">
        <div id="field">

        </div>
        <div id="health">
            <p>Health: <span>#PLAYER_1_HEALTH#</span></p>
        </div>
        <div id="cards">
            
        </div>
        <div id="name">
            <p>#PLAYER_1_NAME#</p>
        </div>
    </div>

    <script src="./res/js/game.js"></script>

</body>
</html>
