<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hearthstone</title>
    <link rel="stylesheet" href="./res/css/styleGame.css">
</head>
<body>

    <div id="opponent">
        <div class="card" id="card-">
        </div>

    </div>

    <div id="field-opponent"></div>

    <div id="field-my"></div>

    <div id="top-my">

    </div>

    <div id="my-cards">
        <div class="card" id="card-">
            <p class="name">CardName</p>
            
            <div class="row">
                <p class="health">H:0</p>
                <p class="attack">A:1</p>
            </div>
        </div>
    </div>

    <div id="bottom-my">
        <p>#USER_NAME#</p>
    </div>

</body>
</html>
