<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="./res/css/styleLogin.css">
</head>
<body>
<div id="login-box" class="left">
    <h1>Login</h1>

<form method="post">
    <input type="text" name="loginUser[login]" placeholder="login" required>
    <input type="password" name="loginUser[password]" placeholder="password" required>
    <input type="submit">
</form>
    <form method="post">
        <input type="submit" name="forger" value="Forger password" style="width: auto">
    </form>
    <form method="post">
        <input type="submit" name="register" value="Create new user" style="width: auto">
    </form>
</div>
</body>
</html>