<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="./res/css/style.css">
</head>
<body>
    <div id="user-card" class="box">
        <h1>Welcome #USER_NAME#</h1>

        <form method="post">
            <input name="startGameLogin" value="#USER_NAME#" type="hidden">
            <input type="submit" name="game" value="Start game"><br>
        </form>

        <form method="post">
            <input type="submit" name="register" value="Sign out">
        </form>
    </div>
</body>
</html>
