div#name img {
    width: 35px;
    height: 35px;
    margin-top: 7.5px;
    margin-right: 7.5px;
}

div#name p {
    line-height: 17.5px;
}

div#health img {
    width: 20px;
    height: 20px;
    padding-top: 17.5px;
    padding-right: 5px;
}

div#opponent div#name {
    /* background-color: cyan; */
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
}

div#opponent div#cards {
    /* background-color: yellow; */
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50px;
}

div#opponent div#health {
    /* background-color: red; */
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 250px;
}

div#opponent div#field {
    /* background-color: yellow; */
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 300px;
}

div#timer {
    line-height: 95vh;
}

div#timer p {
    text-align: center;
    font-size: 30px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

div#coin {
    display: table-cell;
    height: 99vh;
    text-align: center;
    width: 97vw;
    vertical-align: middle;
}

div#timer span.move span.current {
    color: rgb(8, 151, 8);
}

div#timer span.timer {
    color: rgb(255, 25, 25);
}

div#timer span.mana span.current {
    color: rgb(60, 60, 255);
}

div#player div#field {
    /* background-color: yellow; */
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 300px;
}

div#player div#health {
    /* background-color: red; */
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 250px;
}

div#player div#cards {
    /* background-color: yellow; */
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 50px;
}

div#player div#name {
    /* background-color: cyan; */
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0px;
}

div.card {
    /* background-color: rgb(36, 58, 36); */
    margin: 10px;
    padding: 10px;
    width: 80px;
    height: 160px;
    flex-direction: row;
    border-radius: 5px;
    background: url(../img/card.png), rgba(0, 0, 0, 0.562);
}

div.card p {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

div.card p.name {
    text-align: center;
    margin-top: -10px;
}

div.card div.row {
    margin-top: 55px;
    bottom: 0px;
    font-size: 11px;
}

div.card div.row img {
    width: 15px;
    height: 15px;
}

div#game-over {
    margin-top: 100px;
    text-align: center;
}

div#game-over .win {
    color: green;
    font-size: 20px;
}

div#game-over .lose {
    color: red;
    font-size: 20px;
}
